<div class="card">
  <div class="card-body">
    <div class="form-group1">
      <h4 class="form1-title fw-bold">Tax Filling Details</h4>
      <hr />
      <div class="row mb-3">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <span class="fw-bold">Type of filing</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <span class="fw-bold">VAT Month</span>
        </div>
      </div>
    </div>
    <div class="form-group2">
      <h4 class="form1-title fw-bold">Tax Computation</h4>
      <hr />
      <div class="row mb-3">
        <div class="col-sm-12 col-md-9 col-lg-9">
          <span class="fw-bold"
            >Total value of taxable electronic service exclusive of VAT</span
          >
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-9 col-lg-9">
          <span class="fw-bold">Total VAT to be remitted</span>
          <br />
          <span
            >(7% of Total value of taxable electronic service exclusive of
            VAT)</span
          >
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <span class="fw-bold">Total Amount Payable</span>
        </div>
      </div>
    </div>
    <div class="form-group3">
      <h4 class="form1-title fw-bold">Decaration</h4>
      <hr />
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <span
            >I hereby certify that information given above are true and correct
            and agree to be bound by such information.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="button-group mt-3">
      <button
        type="button"
        class="btn btn-primary rounded shadow"
        (click)="submit()"
      >
        Confirm and Submit
      </button>
    </div>
  </div>
</div>
